*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-spacing: 2px;
}
body{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('img/OIP (1).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
}
.over{
    background-color: antiquewhite;
    width:39%;
    height: 95vh;
}
.overall{
    width:90%;
    height: 82vh;
    background-color: blueviolet;
    border-radius: 20px;
    box-shadow: 0px 20px 50px rgba(0,0,0,1);
}
h3{
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
    color: white;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
img{
    width: 70%;
    height: 45%;
    margin: 5% 15% 5% 15%;
    border-radius: 38%;
    box-shadow: 5px 10px 15px  rgba(0,0,0,.5);   
}
p{
    margin: 1%;
    text-align: center;
    font-size: 17px;
    color: white; 
    font-family: monospace;
}
input{
    width: 70%;
    text-align: center;
    margin: 1% 15%;
}
.b{
    font-size: x-large;
}
.dbox{
    background-color: goldenrod;
    border-radius: 30% 50% 30% 1% ;
    padding: 29px;
    margin-right: 100px;
}
button{
    padding:18px;
    text-align: center;
    border-radius: 60%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background: rgba(192, 55, 226, 0.74);
    color: white;
    border: none;
    box-shadow: 2px 5px 8px black, -2px -2px 2px white;
}
button:hover{
    box-shadow:  2px 5px 8px white,  -2px  -2px 2px black;
}

@media screen and (max-width:1200px){
    .overall{
        width: 35%;
    }
}
@media screen and (max-width:576px){
    .overall{
        width: 70%;
    }
}